{% extends 'blog/base.html' %}


{% block content %}
    <h3> Dear Reader, </h3>
    <br>
    <p> I've always been one to take things of this nature seriously - too seriously even.
        I don't think I'm ready to leave that habit behind yet.
    </p>
    <p>
        What I want to tell you is that most work is like archaeology.  We spend so much time digging -- throwing dirt over our
        shoulder -- looking for relics and artifacts.  Some might even say they're looking for treasure.
        In other words, the goal of work is not to dig.  In work, as in archaeology, 
        the goal is to find something.  
    </p>
    <p>
        And yet, there's a strange blessing in the work.  There's honor in faithfully 
        heaving dirt over your shoulder, looking for treasure.
    </p>
    <p>
        I expect that learning to write Python in a Pythonic way is not the point of what I'm doing.
        It's just how I'm throwing dirt.  If all this sounds a bit artful for a discussion about
        writing code and computer programming, maybe that's a good thing.  At any rate, time to get to work.
    </p>
    <br>
    <h6>Yours,</h6>
    <h5>Layman</h5>
{% endblock content %}